In [1]:
import pandas as pd

terms_rubrics = pd.read_csv('terms_rubrics_nostopwords.csv', sep = '\t')

In [122]:
terms_rubrics.head()

,Unnamed: 0,Genre,Rubric,Terms
0,0,Статьи,Науки о земле,"['соленость', 'моно', 'фламинго', 'мышьяк', 'х..."
1,1,Статьи,История,"['телега', 'ямник', 'скелет', 'позвоночник', '..."
2,2,Статьи,Физиология человека,"['хромосома', 'деление', 'анеуплоидия', 'яйцек..."
3,3,Статьи,Физика,"['достоверность', 'сигма', 'коллайдер', 'убежд..."
4,4,Статьи,Космос,"['хондрит', 'пришелец', 'ахондрит']"

In [124]:
print(terms_rubrics['Rubric'].unique())

['Науки о земле' 'История' 'Физиология человека' 'Физика' 'Космос' 'Мусор'
 'Биология' 'Computer Science' 'Технологии' 'Футурология' 'Культура'
 'Химия' 'Психология' 'Социология' 'Язык' 'Математика' 'Экономика'
 'Политология' 'Философия']

In [219]:
earth = terms_rubrics[terms_rubrics['Rubric'] == 'Науки о земле']

In [ ]:
history = terms_rubrics[terms_rubrics['Rubric'] == 'История']

In [ ]:
human_phys = terms_rubrics[terms_rubrics['Rubric'] == 'Физиология человека']

In [ ]:
physics = terms_rubrics[terms_rubrics['Rubric'] == 'Физика']

In [ ]:
space = terms_rubrics[terms_rubrics['Rubric'] == 'Космос']

In [ ]:
trash = terms_rubrics[terms_rubrics['Rubric'] == 'Мусор']

In [ ]:
biology = terms_rubrics[terms_rubrics['Rubric'] == 'Биология']

In [179]:
comp_science = terms_rubrics[terms_rubrics['Rubric'] == 'Computer Science']

In [136]:
technology = terms_rubrics[terms_rubrics['Rubric'] == 'Технологии']

In [140]:
future = terms_rubrics[terms_rubrics['Rubric'] == 'Футурология']

In [141]:
culture = terms_rubrics[terms_rubrics['Rubric'] == 'Культура']

In [142]:
chemistry = terms_rubrics[terms_rubrics['Rubric'] == 'Химия']

In [143]:
psycology = terms_rubrics[terms_rubrics['Rubric'] == 'Психология']

In [144]:
sociology = terms_rubrics[terms_rubrics['Rubric'] == 'Социология']

In [145]:
language = terms_rubrics[terms_rubrics['Rubric'] == 'Язык']

In [146]:
math = terms_rubrics[terms_rubrics['Rubric'] == 'Математика']

In [147]:
economy = terms_rubrics[terms_rubrics['Rubric'] == 'Экономика']

In [149]:
politology = terms_rubrics[terms_rubrics['Rubric'] == 'Политология']

In [150]:
philosophy = terms_rubrics[terms_rubrics['Rubric'] == 'Философия']

In [ ]:
from tqdm import tqdm
import re

In [415]:
trm = []

In [416]:
len(trm)

0

In [417]:
reg_term = re.compile(r'(?u)(\w+)')

for words in history['Terms']:
    for term in reg_term.findall(words):
        trm.append(term)

In [418]:
earth_stop_words = ['км', 'см', 'гг', 'т', 'м', 'вв', 'г','п','е', 'др', 'ия', 'го', 'ст', 'борис', 'ргг', 'р', 'поливать' ]

unique_terms = list((set(trm)) - set(earth_stop_words))
counter = []

for term in tqdm(unique_terms):
    counter.append(trm.count(term))

freq_terms = list(zip(unique_terms, counter))
freq_terms.sort(key = lambda freq_terms: freq_terms[1], reverse=True)

100%|██████████| 16004/16004 [00:07<00:00, 2285.72it/s]

In [419]:
history_results = pd.DataFrame(freq_terms, columns=['Term', 'Freq'])

In [422]:
history_results.head()

          Term  Freq
0     археолог   811
1     раскопка   388
2      останки   250
3  захоронение   178
4    поселение   159

In [421]:
history_results.to_csv('История.csv', sep = '\t')

In [6]:
term_cpunter = []

for terms in terms_rubrics["Terms"]:
    term_cpunter.append(len(terms.split(',')))

In [17]:
dic = {'Counter': term_cpunter}

In [18]:
df = pd.DataFrame(dic)

In [19]:
new_df = pd.concat([terms_rubrics, df], axis = 1)

In [23]:
new_df.head()

,Unnamed: 0,Genre,Rubric,Terms,Counter
0,0,Статьи,Науки о земле,"['соленость', 'моно', 'фламинго', 'мышьяк', 'х...",45
1,1,Статьи,История,"['телега', 'ямник', 'скелет', 'позвоночник', '...",25
2,2,Статьи,Физиология человека,"['хромосома', 'деление', 'анеуплоидия', 'яйцек...",50
3,3,Статьи,Физика,"['достоверность', 'сигма', 'коллайдер', 'убежд...",10
4,4,Статьи,Космос,"['хондрит', 'пришелец', 'ахондрит']",3

In [24]:
df_rubrics = new_df['Rubric'].unique()

In [25]:
df_rubrics

array(['Науки о земле', 'История', 'Физиология человека', 'Физика',
       'Космос', 'Мусор', 'Биология', 'Computer Science', 'Технологии',
       'Футурология', 'Культура', 'Химия', 'Психология', 'Социология',
       'Язык', 'Математика', 'Экономика', 'Политология', 'Философия'], dtype=object)

In [30]:
new_df.to_csv('terms_counter.csv')

In [102]:
new_df_sort = new_df.groupby('Rubric').size()

In [103]:
sorted_rubrics = pd.DataFrame(new_df_sort)

In [104]:
sorted_rubrics.reset_index(level=0, inplace=True)

In [105]:
sorted_rubrics.columns = ['Rubrics', 'Size']

In [106]:
import numpy as np

sorted_rubrics.ix[19] = np.nan

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [108]:
sorted_rubrics.ix[19] = sorted_rubrics.ix[0]

In [112]:
sorted_rubrics = sorted_rubrics.drop([0])

In [113]:
sorted_rubrics

                Rubrics    Size
1              Биология  4051.0
2               История  2258.0
3                Космос  4324.0
4              Культура   699.0
5            Математика   251.0
6                 Мусор  6002.0
7         Науки о земле   575.0
8           Политология    55.0
9            Психология   382.0
10           Социология   466.0
11           Технологии  5773.0
12               Физика  1969.0
13  Физиология человека  1806.0
14            Философия   143.0
15          Футурология   188.0
16                Химия   506.0
17            Экономика   232.0
18                 Язык   527.0
19     Computer Science   421.0

In [114]:
sorted_rubrics.to_csv("Rubrics_count.csv")

In [115]:
new_df_genre = new_df.groupby('Genre').size()

In [116]:
new_df_genre

Genre
FAQ          983
talks        235
Блоги       1237
Лекции       562
Новости    16519
Статьи      8256
видео       2408
журнал       427
книги          1
dtype: int64

In [117]:
sorted_genre = pd.DataFrame(new_df_genre)

In [118]:
sorted_genre.reset_index(level=0, inplace=True)

In [120]:
sorted_genre.columns = ['Genre', 'Size']

In [121]:
sorted_genre

     Genre   Size
0      FAQ    983
1    talks    235
2    Блоги   1237
3   Лекции    562
4  Новости  16519
5   Статьи   8256
6    видео   2408
7   журнал    427
8    книги      1

In [423]:
freq_df = pd.read_csv('total_freq.tsv', sep = '\t')

In [426]:
freq_df1 = freq_df.drop(columns = ['Unnamed: 0'])

In [432]:
freq_df1.head()

                   Term  Freq
0               мегапод  2023
1               джетпак  1935
2                  шери  1886
3           свертывание  1612
4  олигодиметилсилоксан  1435

In [435]:
freq_dict = dict(zip(freq_df1['Term'], freq_df1['Freq']))